In [4]:
import pandas as pd
import numpy as np
from datetime import date

# Get today's date
today = str(date.today())

In [5]:
import requests

def fetch_text_from_url(url):
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise an exception if request was unsuccessful
        return response.text
    except requests.exceptions.RequestException as e:
        print(f"Error occurred: {e}")

# Example usage:
webpage_url = "https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=3608&position=1&pageNum=0"
webpage_text = fetch_text_from_url(webpage_url)
#print(webpage_text)
temp = {}

In [6]:
import re
list_url = {"Nvdia":"https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=3608&position=1&pageNum=0",
            "AMD":"https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=1497&position=1&pageNum=0",
            "TSMC":"https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=8869&position=1&pageNum=0",
            "Apple":"https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=162479&position=1&pageNum=0",
            "Microsoft":"https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=1035&position=1&pageNum=0",
            "Tesla":"https://www.linkedin.com/jobs/search?keywords=&location=%E5%85%A8%E7%90%83&locationId=&geoId=92000000&f_TPR=&f_C=15564&position=1&pageNum=0"}
result = pd.DataFrame([], columns = ["Name","Jobs","NewJobs"])
result = pd.DataFrame([], columns = ["Name","Jobs","NewJobs","NewRatioPrct"])

result = pd.DataFrame([], columns = ["Name","Jobs","NewJobs","NewRatioPrct","Date"])
for i in list_url:
    if(i not in temp):
        webpage_url = list_url[i]
        webpage_text = fetch_text_from_url(webpage_url)
        temp[i] = webpage_text
        print("Downloaded!")
    else:
        webpage_text = temp[i]
    pos_job_txt = str(re.findall("<title>.{0,200}title",webpage_text)).split(sep="Jobs")
    pos_job_txt[0] = int(str(re.sub(",","",str(re.findall("[0-9,]{1,10}",pos_job_txt[0])[0]))))
    pos_job_txt[1] = int(str(re.sub(",","",str(re.findall("[0-9,]{1,10}",pos_job_txt[1])[0]))))
    print(i,pos_job_txt[0],pos_job_txt[1])
    newstuff = pd.DataFrame([ i, pos_job_txt[0], pos_job_txt[1], (100*(pos_job_txt[1]/pos_job_txt[0])), today]).transpose()
    newstuff.columns = result.columns
    #print(newstuff)
    result = pd.concat(objs = [result,newstuff],axis=0)

    #result = pd.concat(objs = [result,pd.DataFrame({"Name":i,"Jobs":pos_job_txt[0],"NewJobs":pos_job_txt[1]})], axis =0, ignore_index=True)
result.index = [i for i in range(len(result))]
result
#webpage_text[pos_job_txt-100:pos_job_txt+100]

Downloaded!
Nvdia 750 58
Downloaded!
AMD 1000 51
Downloaded!
TSMC 318 1
Downloaded!
Apple 3000 57
Downloaded!
Microsoft 3000 225
Downloaded!
Tesla 8000 98

        Name  Jobs NewJobs NewRatioPrct        Date
0      Nvdia   750      58     7.733333  2023-05-30
1        AMD  1000      51          5.1  2023-05-30
2       TSMC   318       1     0.314465  2023-05-30
3      Apple  3000      57          1.9  2023-05-30
4  Microsoft  3000     225          7.5  2023-05-30
5      Tesla  8000      98        1.225  2023-05-30

In [9]:
csvfilename = './jobcount.csv'
#First time
#result.to_csv(csvfilename, index=False)
if(pd.read_csv(csvfilename).iloc[-1][-1]!=today):
    result.to_csv(csvfilename, index=False, mode = 'a', header=False)

In [10]:
pd.read_csv(csvfilename)

         Name    Jobs  NewJobs  NewRatioPrct        Date
0         NaN     NaN      NaN           NaN         NaN
1       Nvdia   747.0     33.0      4.417671   5/27/2023
2         AMD  1000.0     54.0      5.400000   5/27/2023
3        TSMC   318.0      4.0      1.257862   5/27/2023
4       Apple  3000.0    121.0      4.033333   5/27/2023
5   Microsoft  3000.0    276.0      9.200000   5/27/2023
6       Tesla  8000.0     70.0      0.875000   5/27/2023
7       Nvdia   754.0     17.0      2.254642   5/28/2023
8         AMD  1000.0     39.0      3.900000   5/28/2023
9        TSMC   318.0      2.0      0.628931   5/28/2023
10      Apple  3000.0     54.0      1.800000   5/28/2023
11  Microsoft  3000.0     63.0      2.100000   5/28/2023
12      Tesla  8000.0     20.0      0.250000   5/28/2023
13      Nvdia   752.0     20.0      2.659574  2023-05-28
14        AMD  1000.0     39.0      3.900000  2023-05-28
15       TSMC   318.0      3.0      0.943396  2023-05-28
16      Apple  3000.0     53.0      1.766667  2023-05-28
17  Microsoft  3000.0      9.0      0.300000  2023-05-28
18      Tesla  8000.0     12.0      0.150000  2023-05-28
19      Nvdia   750.0     58.0      7.733333  2023-05-30
20        AMD  1000.0     51.0      5.100000  2023-05-30
21       TSMC   318.0      1.0      0.314465  2023-05-30
22      Apple  3000.0     57.0      1.900000  2023-05-30
23  Microsoft  3000.0    225.0      7.500000  2023-05-30
24      Tesla  8000.0     98.0      1.225000  2023-05-30